{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} 
   {{ page_title }}
{% endblock title %}

{% block formcontent %}
<div class="container">
    <div class="">
        <h6 class="text-center">Checklisy By {{ request.user }}</h6>
       
    </div>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

                <table class="table table-striped table-bordered table-responsive-sm">
                    <thead>
                        <tr>
                            <th scope="col">Doc ID</th>
                            <th scope="col">CheckList ID</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Site Name</th>
                            <th scope="col">Contractor</th>
                            <th scope="col">Location</th>
                            <th scope="col">Structural Element</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for checklist in checklists %}
                        <tr>
                            <td>{{ checklist.Doc_ID }}</td>
                            <td>{{ checklist.CheckList_ID }}</td>
                            <td>{{ checklist.inspection_Start_Date|date:"j/n/Y g:i A" }}</td>

                            <td>{{ checklist.Project_Name }}</td>
                            <td>{{ checklist.Site_Name }}</td>
                            <td>{{ checklist.Contractor }}</td>
                            <td>{{ checklist.Location }}</td>
                            <td>{{ checklist.Structural_Element }}</td>
                            <td>
                                {% if checklist.checklist_status == 'Completed_By_SiteEngineer & Active_At_DHEQA' %}
                               
                                <span class="badge badge-info">Completed By SiteEngineer</span>
                                <span class="badge badge-warning">Active_At_DHEQA</span>

                                {% elif checklist.checklist_status == 'PQA and ProjectHead Queue' %}
                                <span class="badge badge-info">PQA and ProjectHead Queue</span>

                                {% elif checklist.checklist_status == 'Completed_By_DHEQA & Active_At_ProjectQA' %}
                                  
                                    <span class="badge badge-info">Completed By DHEQA </span>
                                    <span class="badge badge-warning">Active At ProjectQA</span>
                            
                                {% elif checklist.checklist_status == 'Completed_By_DHEQA & Active_At_ProjectHead' %}
                        
                                    <span class="badge badge-info">Completed By DHEQA </span>
                                    <span class="badge badge-warning">Active_At_ProjectHead</span>

                            
                                {% elif checklist.checklist_status == 'Completed_By_ProjectQA & Active_At_ProjectHead' %}
                                   
                                    <span class="badge badge-info">Completed By ProjectQA</span>
                                    <span class="badge badge-warning">Active At ProjectHead</span>
                                {% elif checklist.checklist_status == 'Completed_By_ProjectHead' %}
                                    <span class="badge badge-success">Completed By ProjectHead</span>
                                {% elif checklist.checklist_status == 'Rejected' %}
                                    <span class="badge badge-danger">Rejected</span> 

                                {% endif %}
                            </td>
                            <td><a href="{% url 'checklist_avtar' checklist.pk %}" class="btn btn-primary btn-extra-small">View_Details</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
          

    {% if messages %}
    <div class="alert alert-success mt-3" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}



        
       
               