{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} 
   {{ page_title }}
{% endblock title %}

{% block formcontent %}
<div class="container-fluid mt-4">
    <div class="sticky-top bg-white p-2">
        <h4 class="text-center">DHEQA-Workspace</h4>
        
    </div>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

                <table class="table table-striped table-bordered table-responsive-lg custom-table">
                    <thead>
                        <tr>
                            <th scope="col">Doc ID</th>
                            <th scope="col">CheckList ID</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Site Name</th>
                            <th scope="col">Contractor</th>
                            <th scope="col">Location</th>
                            <th scope="col">Structural Element</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for checklist in checklists %}
                       
                            {% if checklist.Doc_ID in mismatched_checklists %} 
                            <tr style="background: #f58686;">
                            <td>{{ checklist.Doc_ID }}</td>
                            <td>{{ checklist.CheckList_ID }}</td>
                            <td>{{ checklist.Name_Of_ABLStaff }}</td>
                            <td>{{ checklist.inspection_Start_Date|date:"j/n/Y g:i A" }}</td>
                            <td>{{ checklist.Project_Name }}</td>
                            <td>{{ checklist.Site_Name }}</td>
                            <td>{{ checklist.Contractor }}</td>
                            <td>{{ checklist.Location }}</td>
                            <td>{{ checklist.Structural_Element }}</td>
                            <td>
                                {% if checklist.checklist_status == 'Completed_By_SiteEngineer & Pending_By_DHEQA' %}
                               
                                <span class="badge badge-info">Completed By SiteEngineer</span>
                                <span class="badge badge-danger">Pending By DHEQA</span>

                                {% elif checklist.checklist_status == 'Completed_By_SiteEngineer & Active_At_DHEQA' %}
                                  
                                    <span class="badge badge-info">Completed By SiteEngineer </span>
                                {% endif %}
                            </td>
                            <td><small><a href="{% url 'DHPre_one' checklist.pk %}">View Details</a></small></td>
                        </tr>
                        {% elif checklist.Doc_ID in matched_checklists %}
                        <tr>
                            <td>{{ checklist.Doc_ID }}</td>
                            <td>{{ checklist.CheckList_ID }}</td>
                            <td>{{ checklist.Name_Of_ABLStaff }}</td>
                            <td>{{ checklist.inspection_Start_Date|date:"j/n/Y g:i A" }}</td>
                            <td>{{ checklist.Project_Name }}</td>
                            <td>{{ checklist.Site_Name }}</td>
                            <td>{{ checklist.Contractor }}</td>
                            <td>{{ checklist.Location }}</td>
                            <td>{{ checklist.Structural_Element }}</td>
                            <td>
                                {% if checklist.checklist_status == 'Completed_By_SiteEngineer & Pending_By_DHEQA' %}
                              
                                <span class="badge badge-info">Completed By SiteEngineer</span>
                                <span class="badge badge-danger">Pending By DHEQA</span>

                                {% elif checklist.checklist_status == 'Completed_By_SiteEngineer & Active_At_DHEQA' %}
                                  
                                    <span class="badge badge-info">Completed By SiteEngineer </span>
                                    <span class="badge badge-warning"> Active At DHEQA</span> 
           
                                {% endif %}
                            
                        </td>
                        <td><small><a href="{% url 'DHPre_one' checklist.pk %}">View Details</a></small></td>
                    </tr>
                    {% endif %}
                {% endfor %}  
</div>

<!-- Include Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}





   